/*------------------------------------Mainstyles-------------------------------------*/

html {
	height:100% ;											/*Setting height to 100 for html*/
	margin: 0 ;												/*Setting margin to 0 for html*/
	padding:0 ;												/*Setting padding to 0 for html*/
}

body {
	background-image: url("../images/bground.gif") ;		/*Setting background image for body element*/
	background-color: #F3F6E4 ;								/*Setting color to background of body element*/
	background-repeat: repeat ;								/*Setting background property to 'repeat', for body element*/
	background-position: center top;						/*Setting background position property to align 'center' 'top' of body element*/
	color: #081217 ;										/*Setting color of all text within body element*/
	margin: 0 ;												/*Setting the margin to clear any elements within the body element*/
	padding: 0 ;
	height: 100% ;											/*Setting the padding to clear any elements within the body element*/
}

body * {
	margin: 0 ;												/*Setting margin in body to 0*/
	padding: 0 ;											/*Setting padding in body to 0*/
}

.container {
	background-image: url("../images/bground2.gif") ;		/*Setting background image 2 to display in the container element*/
	background-repeat: no-repeat ;							/*Setting background property to 'no-repeat', for the container element*/
	background-position: top center ;						/*Setting background position property to align 'center' of 'top' of container element*/
	background-size: cover ;								/*Setting background size property to 'cover' in the container element*/
    margin: 0 auto ; 										/*Setting the margin to 'auto' will center content of container element*/
	width: 77% ;  											/*Setting the width percentage of the container element -- hoping for liquid layout*/
}

#wrapper {
	min-height: 100 ;										/*Setting wrapper id to have a minimum height of 100*/	
	position:relative ;										/*Setting wrapper id position property to 'relative'*/
}

/*------------------------------------Content Layout-------------------------------------*/

header {
	border: ridge 3px rgba(63,191,191,0) ; 					/*Setting border size, style, color for header*/
}

h1,h2,h3,h4,h5 {
	opacity: 0.8 ;											/*Setting opacity preference of headers 'h1-h5'*/
	border-radius: 7px ;									/*Setting border radius to preference of rounded edges of 'h1-h5'*/
	text-indent: 1em ;										/*Setting text indent for headers 'h1-h5' using 'em' scaling*/
	font-size: 2em ;										/*Setting font size for headers h1-h5' using 'em' scaling*/
}

h1 {
    
	border-radius: 5px ;									/*Setting border radius to preference of rounded edges of 'h1'*/
	font-size: 3em 	;										/*Setting font size for headers h1-h5' using 'em' scaling*/
    text-align: left ;  									/*Setting text to align 'left' in header h1*/
	background-color:  solid ;								/*Setting background color to solid in header h1*/
	color:#081217;											/*Setting color of all text within header h1*/ 
	opacity: 0.6 ; 											/*Setting opacity preference of header h1*/
	font-family: "Avenir Next", "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif;	/*Setting font family to preference, while allowing choice of backup fonts for different browsers*/
	font-weight: 400 ; 										/*Setting my font weight preference within header h1*/
	margin-bottom: 20px ; 									/*Setting margin bottom to desired pixels within header h1*/
	padding: 35px ; 										/*Setting padding to desired pixels within the header h1*/
	direction: rtl ;
	text-indent 75px ; 										/*Setting direction of text to display 'left to right'*/
}

h2  {
	box-shadow: 0px 0px 33px 5px rgba(0,255,255,0.2) ;  	/*Setting box shadow preference width, color of header h2'*/
    border: ridge 3px rgba(63,191,191,1) ;					/*Setting border property to 'ridge', width, and color of header h2'*/
    text-align: left ; 										/*Setting text to align 'left' in header h2*/
	text-transform: capitalize ; 							/*Setting text transform property to 'capitalize' all content in header h2*/
    background-color: #79D2BC ; 							/*Setting color of all text within header h2*/ 
	font-family: "Avenir Next", "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif ;	/*Setting font family to preference, while allowing choice of backup fonts for different browsers*/
	font-weight:200 ; 										/*Setting my font weight preference within header h2*/	
	font-style: oblique ; 									/*Setting my font style property to 'oblique' within header h2*/
	margin-bottom: 20px ; 									/*Setting margin bottom to desired pixels within header h2*/
	padding: 20px ; 										/*Setting padding to desired pixels within the header h2*/
}
    
h3 {
	box-shadow: 0px 0px 33px 5px rgba(0,255,255,0.2) ;  	/*Setting box shadow preference width, color of header h3'*/
	border: ridge 3px rgba(63,191,191,1) ; 		            /*Setting border property to 'ridge', width, and color of header h3'*/
    text-align: left ; 										/*Setting text to align 'left' in header h3*/
	text-transform: capitalize ; 							/*Setting text transform property to 'capitalize' all content in header h3*/
	background-color: #90DAA3 ; 							/*Setting color of all text within header h3*/ 
	font-family: "Avenir Next", "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif ;	/*Setting font family to preference, while allowing choice of backup fonts for different browsers*/ 
	font-weight:200 ; 										/*Setting my font weight preference within header h3*/
	font-style: oblique ; 									/*Setting my font style property to 'oblique' within header h3*/
	margin-bottom: 20px ; 									/*Setting margin bottom to desired pixels within header h3*/
	padding: 20px ; 									    /*Setting padding to desired pixels within the header h3*/
}

h4 {
	box-shadow: 0px 0px 33px 5px rgba(0,255,255,0.2) ;  	/*Setting box shadow preference width, color of header h4'*/
	border: ridge 3px rgba(63,191,191,1) ; 		            /*Setting border property to 'ridge', width, and color of header h4'*/
    text-align: left ; 										/*Setting text to align 'left' in header h4*/
	text-transform: capitalize ; 							/*Setting text transform property to 'capitalize' all content in header h4*/
    background-color: #C4EBC2 ; 							/*Setting color of all text within header h4*/ 
    font-family: "Avenir Next", "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif ;	/*Setting font family to preference, while allowing choice of backup fonts for different browsers*/	
	font-weight:200 ; 										/*Setting my font weight preference within header h4*/
	font-style: oblique ; 									/*Setting my font style property to 'oblique' within header h4*/
	margin-bottom: 20px ; 									/*Setting margin bottom to desired pixels within header h4*/
	padding: 20px ; 										/*Setting padding to desired pixels within the header h4*/
}


h5 {
	box-shadow: 0px 0px 33px 5px rgba(0,255,255,0.2) ;  	/*Setting box shadow preference width, color of header 5'*/
    border: ridge 3px rgba(63,191,191,1) ; 	                /*Setting border property to 'ridge', width, and color of header 5'*/
    text-align: left ; 										/*Setting text to align 'left' in header h5*/
	text-transform: capitalize ;							/*Setting text transform property to 'capitalize' all content in header h5*/
    background-color: #DCF1D5 ; 							/*Setting color of all text within header h5*/ 
	font-family: "Avenir Next", "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif ;	/*Setting font family to preference, while allowing choice of backup fonts for different browsers*/	 
	font-weight:200 ; 										/*Setting my font weight preference within header h5*/
	font-style: oblique ; 									/*Setting my font style property to 'oblique' within header h5*/
	margin-bottom: 17px ; 									/*Setting margin bottom to desired pixels within header h5*/
	padding: 20px ;											/*Setting padding to desired pixels within the header h5*/ 
}

p {
	margin: 25px ; 											/*Setting the margin to desired pixels to help separate paragraphs*/
}

p, a {
	line-height: 23px ; 									/*Setting line hight to desired pixels to space out 'p' & 'a' text height*/
	font-family: "Avenir Next", "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif ;	/*Setting font family to preference, while allowing choice of backup fonts for different browsers*/	 
	font-size: 1em ; 										/*Setting font size for 'p' & 'a' using 'em' scaling*/
}


a:link {color:#1F5C55 ;text-decoration: underline ; font-size: 1.125em ; }	/*Setting link color and text decoration property to display all links underlined*/
a:visited {color: #1F5C55 ;text-decoration: underline ;} 	/*Setting all visited links color and text decoration property to display underlined*/
a:hover {color: #3EBBA5 ;text-decoration: underline ;} 		/*Setting all hovered link color and text decoration property to display underlined*/
a:active {color: #1F5C55 ;text-decoration: underline ;} 	/*Setting all active link color and text decoration property to display underlined*/

/*------------------------------------Page Navigation-------------------------------------*/


<style>

* {
	padding:0 ;												/*Setting padding to override content to 0*/
	margin:0 ;												/*Setting margin to override content to 0*/
}

nav {
	background-color: #F3F6E4 ;								/*Setting nav bar to desired color*/
	height: 50px ;											/*Setting height preferred for nav bar*/
	opacity: 0.8 ;											/*Setting opacity for desired opaqueness*/	
}

nav ul {
	border: 2px solid #C4EBC2 ;								/*Setting border on top for my nav bar*/
	margin: 0 auto ;										/*Setting margin to eliminate extra space*/
}										

nav ul li {
	list-style-type:none ;									/*clearing all bullets from nav bar*/
	width:250px ;											/* Setting my width for nav list*/
	float:left ;											/*Floating content 'left' for horizontal bar*/
	border-right: 1px solid #666							/*Setting a separating border*/	
}

li a {								
	line-height: 50px ;										/*Setting line height to center inside nav bar*/
}

</style>

.container nav:hover {
    opacity: 0.9 ; 					                    	/*Setting opacity preference within 'class' container*/
   	background-color: #fff ;			                    /*Setting color preference within 'class' container*/
}


/*------------------------------------Images-------------------------------------*/

div#quote {
	box-shadow: 3px 3px 30px 5px rgba(0,255,255,0.2) ;		/*Setting box shadow preference width and color of id 'quote'*/
	border-radius: 23px ; 									/*Setting border radius to preference of rounded edges of id 'quote'*/
    position:absolute ;									    /*Setting position property to 'fixed' to page within ul*/
    top: 170px ; 											/*Setting ul position to 'top' and desired pixels*/
	left: -106px ; 											/*Setting ul position to align 'left' and desired pixels*/
    opacity: 0.7 ;											/*Setting opacity preference within ul*/
    width:36% ;												/*Setting width of ul by percentage*/
    margin-top: 140% ;	
    margin-left: 277px ;										/*Setting margin of ul by percentage -- hoping for liquid layout*/
}

img {
	border:3px ridge rgba(63,191,191,1) ; 					/*Setting border property to 'ridge', width, and color to all images*/	
	border-radius: 15px ; 									/*Setting border radius to preference of rounded edges of all images*/
	height: auto ; 											/*Setting image height to auto*/
	width: 100% ; 											/*Setting image width to percentage -- hoping for liquid layout*/
}

figure {
	margin: 25px auto ; 									/*Setting my font weight preference within figure*/
}

figure img {
	display: inline ; 										/*Setting display property to change 'figure' & 'image' to 'inline'*/
	vertical-align: middle ;                                /*Setting alignment to figure image*/
}

figcaption {
	display: inline-block ;
	font-family: "Avenir Next", "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif ;	/*Setting font family to preference, while allowing choice of backup fonts for different browsers*/
	margin: 15px auto ;										/*Setting my font weight preference within figcaption*/
	text-align: center ;								    /*Setting text to align 'center' within figcaption*/ 
	width: 100% ; 											/*Setting text width to percentage -- hoping for liquid layout*/
	font-size: 1em ;										/*Setting font size for figcaption using 'em' scaling*/
}

/*------------------------------------Column-------------------------------------*/

.column {
	border-radius: 7px ; 									/*Setting border radius to preference of rounded edges of class 'column'*/
	background: linear-gradient(#D5F1E2 10%,#75D1BF 100%)  ;	/*Setting background gradient effects found on 'W3C' for column*/
	float: left ;										/*Setting column to float to the 'right'*/
	margin-left: 170px ;											/*Setting margin to desired pixels within column*/
	padding: 10px ;											/*Setting padding to desired pixels within column*/
	width: 35% ;											/*Setting width of column by percentage -- hoping for liquid layout*/
	text-align: left ;										/*Setting  text to align 'left' in column*/
}
.column2 {				
	border-radius: 7px ;									/*Setting border radius to preference of rounded edges of class 'column2'*/
	background: linear-gradient(#D5F1E2 10%,#75D1BF 100%) ;		/*Setting background gradient effects found on 'W3C' for column2*/
	float: right ;											/*Setting column2, to float to the 'right'*/											/*Setting clear property to 'left' to ensure path is clear*/
	width: 35% ;											/*Setting width of column2 by percentage -- hoping for liquid layout*/
	margin-right: 166px ;									/*Setting margin to desired pixels within column2*/
	padding: 10px ;											/*Setting padding to desired pixels within column2*/
}

/*------------------------------------Table------------------------------------*/

table {
	font-size: 15px ;										/*Setting font size for table*/
	width: auto ;											/*Setting width to auto for table*/
	margin: auto ;											/*Setting margin to auto for table*/
	border: 3px ridge rgba(63,191,191,1)  ;					/*Setting border size, style, color for table*/
	text-align: left ;										/*Setting text to align 'left' in table*/
	background-color: #F3F6E4 ; 							/*Setting background color for table*/
	border-collapse: collapse ;								/*Setting border collapse to 'collapse'*/
	letter-spacing: -0.2px ;								/*Setting the letter spacing to desired size*/
	opacity: 0.8 ;											/*Setting the opacity to the desired opaqueness*/
	color: #666 ;											/*Setting the color for all text inside table*/
	font-family: "Avenir Next", "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif ;	/*Setting font family to preference, while allowing choice of backup fonts for different browsers*/
	padding: 17px ;											/*Setting padding for table*/
	border-spacing: 0;										/*Setting border spacing for table*/
	border-radius: 7px ;									/*Setting border radius for corners of table*/
}


th, td {
	text-align: left ;										/*Setting text alignment inside table*/
	border-top: 3px solid rgba(63,191,191,1) ;				/*Setting border size, style, color to top of table*/
	border-bottom: 2px solid rgba(63,191,191,0) ;			/*Setting border size, style, color to bottom of table*/
	height: 40px ;											/*Setting height size for inside table*/
	text-shadow: 1px 1px #fff ;								/*Setting a text shadow to give depth to my content*/	
}

.even{
	background-color: #fff; 								/*Setting background color for only content with id within table*/
}

tr:hover {
	background-color: #cdeedf  ;							/*Setting my hover color to in side table*/
}

/*------------------------------------Form------------------------------------*/

form {
	padding: 40px ;											/*Setting padding for form*/
	border: 3px ridge rgba(63,191,191,1) ;					/*Setting border size, style, color to form*/
	color: #666 ;											/*Setting color to all content inside form*/
	background-color: rgb(240,255,233) ;					/*Setting color to background within form*/
	font-family:  "Avenir Next", "Helvetica Neue", "Source Sans Pro", "Arial", sans-serif ;	/*Setting font family to preference, while allowing choice of backup fonts for different browsers*/
	font-weight: 400 ;										/*Setting font weight size for text within form*/
	line-height: 40px ;										/*Setting line height for form*/
	text-align: right ;										/*setting text to align 'right'*/
	opacity: 0.9											/*Setting opacity to desired opaqueness*/
}

form:hover, form:focus {
	background-color: #fff;									/*Setting background color to white for hover, also adding focus*/
	opacity: 0.8 ;											/*Setting opacity to desired opaqueness*/
}

#contact-content {
	width: 350px ; 											/*Setting width for content*/
	margin: 20px auto ;										/*Setting margin size and auto*/
}

fieldset {		
	width: 380px ;											/*Setting fieldset width*/
	margin: 10px 0 0 0 ;									/*Setting fieldset margin*/
	border: 1px ridge #fff									/*Setting fieldset border size, style, color*/
}

legend {
	font-style: italic ;									/*Setting font style to 'italic' for legend*/
	color: #666 ;											/*Setting the color for text*/
}

.title{
	float:left ;											/*Setting title float to 'left'*/
	width: 150 px;											/*Setting width*/
	clear: left ;											/*Clearing path to left*/
}

#submit {
	width: 310px;											/*Submit button width*/
	text-align: left;										/*Aligning placement 'left'*/
}

#submit input {
	border: 1px solid #666 ;								/*Setting border size, style, color for button*/
	background: rgba(63,191,191,1)  ;						/*Setting background color for button*/
	color: #fff ;											/*Setting color of text for button*/
	padding: 5px ;											/*Setting padding of button*/
	margin-top: 10px ;										/*Setting margin to top*/
	border-radius: 5px ;									/*Setting border radius of corners on button*/
}

div#submit input:hover {									
	background-color: #57c7b4 ;								/*Setting hover color for background button*/
	cursor: pointer ;										/*Setting cursor to change to pointer when hovered over button*/
}

input:hover, input:focus {
	background-color: #cdeedf  ; 							/*Setting background color to hover over input fields and focus*/
	border: 1px solid #666 ;								/*Setting border size, style, color for button*/
	opacity: 0.9 ;											/*Setting opacity to desired opaqueness*/
}

/*------------------------------------Footer------------------------------------*/


#footer {
	height:30px ;											/*Setting height for footer*/
	Width: 250% ;											/*Setting width for footer*/
	position:relative ; 									/*Setting position property to absolute*/
	right:720px ; 											/*Setting footer to align left*/
	top: 287px ;											/*Sending footer to bottom at desired px length*/
}

#footer p {
	text-align:center ;										/*Setting text align to center in footer <p>*/
	color: #666 ;											/*Setting text color in footer*/
	font-size: 17px ;										/*Setting font size in footer <p>*/
	font-weight: 500 ;										/*Setting desired font weight fot footer text <p>*/
	padding: 13px 0px 0px 0px ;								/*Setting footer padding for <p>*/
	float:left; 											/*Floating footer <p> to align left on page*/
	margin: 0 ; 											/*Setting margin to 0 for footer <p> to clear extra space*/
	
}
